@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*-------------------Body*/

body {
    margin: 0 0px; 
    background-color: rgb(230, 231, 231);
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    text-align: left;

}
/*-----------------Header and Navbar*/

.menu-bar {
    background-image: linear-gradient(purple, pink, white);
}

.nav-link {
    font-size: 16px;
    margin: 5px;
    color: #0a0a0a!important;
    font-weight: 200;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.navbar .fa {
    color: #0a0a0a!important;
    font-size: 26px;
}

.nav-link:hover {
    font-weight: 400;
    background-color: #fff;
}

.navbar-brand img {
    width: 120px;
    margin-top: 5px;
    margin-left: 20px;
}

/*-------------------Headings*/

div.a {
    text-align: center;
    background-color: lightblue;
}

h3 {
    text-align: center;
    padding: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkorchid;
    background-color: lightblue;

}

h2 , h4 {
    color: darkorchid;
}

h6 {
    color: darkorchid;
    
}

h3,br {
    box-shadow: 5px 5px;
}

h5 {
    color: #0000ff;
 
}
.inline-block a {
    text-align: center;
}
/*-------------------Images*/ 

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#photo {
  column-count: 2;
  padding: 20px;
  padding-left: 2px;
  padding-right: 2px;
 }
    
.img-fluid {
    width: 100%;
    height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.carousel-inner {
    display: block;
    margin-right: auto;
    margin-left: auto;
   
}

/*-------------------Paragraph*/

p {
    font-family: "Poppins";
    text-align: center;
    text-transform: none;
    color: black;
}

.inline-block {
    text-align: center;
}


/*-------------------Container*/
.container {
    background-color: #ffccff;
}

/*-------------------Cards*/

.card {
    position: relative;
    display: block;
    flex-direction: column;
    width: 100%;
    margin: 25px;
    background-color: #ffccff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .15rem;
    padding: 3px;
    box-shadow: 0 8px 6px -5px rgb(0, 0, 0, 75%);
}
/*-------------------Button*/

.button {
  background-color: lightblue; 
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid rgb(203, 227, 235);
}

.button1:hover {
  background-color: #cce6ff;
  color: white;
}
/*-------------------Table*/

th, td {
    padding: 5px;
    background-color: rgb(199, 225, 241);
    text-align: center;
}



 /*-------------------Forms*/

form {
    font-weight: normal; 
    background-color: rgb(237, 222, 241);
}

.btn-primary {
    color: black;
}
/*-------------------Footer*/

footer {
    background-color: aquamarine;
    position: relative;
}

footer p {
    color:  #990099;
}

/*-------------------Social links*/

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 14px;
    color: #ff00ff;
}

