
/*-------------------Body*/

body {
    background-color: cyan;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

/*-------------------Navbar*/

.menu-bar {
    background-image: linear-gradient(#fff, #d29cd0);
}

.nav-link {
    font-size: 16px;
    margin: 5px;
    color: hsl(120, 3%, 8%)!important;
    font-weight: 200;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.navbar .fa {
    color: #131413!important;
    font-size: 26px;
}

.nav-link:hover {
    font-weight: 400;
    border-radius: 1px solid #fff;
    background-color: #fff;
}

.navbar-brand img {
    width: 120px;
    margin-top: 5px;
    margin-left: 20px;
}
/*-------------------Headings*/

div.a {
    text-align: center;
}

h3 {
    text-align: center;
}

/*-------------------Images*/ 


.d-block {
    display: block!important;
    font-size: 50%;
}

.w-100 {
    width: 100%!important;
    height: 50%;
}

img {
    vertical-align: middle;
    border-style: none;
}


#photo {
  column-count: 2;
}

.img-fluid {
    width: 100%;
    height: auto;
}



    
/*-------------------Paragraph*/

p {
    font-family: "Poppins";
    text-align: center;
    text-transform: none;
    color: darkorchid;
}

/*-------------------Cards*/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .15rem;
    padding: 3px;
    box-shadow: 0 8px 6px -5px rgb(0, 0, 0, 75%);
    margin: 80px;
}


* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: auto;
   }

   /*-------------------Footer*/

