
/*-------------------Body*/

body {
    background-color: rgb(230, 231, 231);
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

/*-----------------Header and Navbar*/

.menu-bar {
    background-image: linear-gradient(purple, pink, white);
}

.nav-link {
    font-size: 16px;
    margin: 5px;
    color: hsl(120, 3%, 8%)!important;
    font-weight: 200;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.navbar .fa {
    color: #131413!important;
    font-size: 26px;
}

.nav-link:hover {
    font-weight: 400;
    border-radius: 1px solid #fff;
    background-color: #fff;
}

.navbar-brand img {
    width: 120px;
    margin-top: 5px;
    margin-left: 20px;
}
/*-------------------Headings*/

div.a {
    text-align: center;
    background-color: lightblue;
}

h3 {
    text-align: center;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkorchid;
    background-color: lightblue;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h2 , h4 {
    color: darkorchid;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h6 {
    color: darkorchid;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h3,br {
    text-align: center;
    box-shadow: 10px 10px;
}

h5 {
    color: violet;
    background-color: white;
}
.inline-block a {
    text-align: center;
}
/*-------------------Images*/ 


.d-block {
    display: block!important;
    font-size: 50%;
}

.w-100 {
    width: 100%!important;
    height: 50%;
}

img {
    vertical-align: middle;
    border-style: none;
}


#photo {
  column-count: 2;
}

.img-fluid {
    width: 100%;
    height: auto;
}



    
/*-------------------Paragraph*/

p {
    font-family: "Poppins";
    text-align: center;
    text-transform: none;
    color: black;
}

.inline-block {
    text-align: center;
}

/*-------------------Cards*/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .15rem;
    padding: 3px;
    box-shadow: 0 8px 6px -5px rgb(0, 0, 0, 75%);
    margin: 80px;
}


.column {
    float: left;
    width: auto;
}


/*-------------------Table*/

.table-dark, .table-dark>td, .table-dark>th {
  width: 800px;
  height: 200px;
  margin: 70px;
}
/*-------------------Forms*/

form {
    font-weight: normal; 
    background-color: rgb(237, 222, 241);
}


/*-------------------Footer*/

footer {
    background-color: aquamarine;
    position: relative;
}

footer p {
    color: #990099;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 14px;
    color: #ff00ff;
   
    

}

